extends base.pug

block script

    script(src='/static/index.js' )
block style 
    style
        include ../static/submitstyle.css 
        include ../static/style.css
        

block content 
    div.container3
        h1.h | Request a Demo 
        h5.h5 | Thank you for your Feedback! 
        br | We will get back to you as soon as possible   